{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block homeActive %}text-yellow-500{% endblock homeActive %}

{% block content %}

{% load static %}

{% comment %}<!-- SECTION - ........Middle Start............ -->{% endcomment %}

<section class="mx-auto">
    <div class="mx-auto font-poppins mt-16">
        <p class="text-center text-4xl text-yellow-500 font-bold">
            <img class="inline-block" src="https://img.icons8.com/material-rounded/48/FFFFFF/tesseract.png"/>
            CODEPIES
            <img class="inline-block" src="https://img.icons8.com/material-rounded/48/FFFFFF/tesseract.png"/>
        </p>
    </div>
    <div class="mx-auto mt-14 font-poppins">
        <p class="text-center text-white text-7xl font-bold">
            GAMING <span class="text-yellow-500">BLOG</span>
        </p>
    </div>
    <div class="mx-auto font-poppins text-white">
        <p class="text-center">
            Stay updated with the latest news in gaming community
        </p>
        <p class="mx-auto mt-12 bg-yellow-500 bg-opacity-80 w-32 text-center p-4 rounded-lg"><a class="text-center" role="button" href="#">Read More</a></p>
    </div>
</section>

<!-- SECTION......................Logos Section Start....................... -->
<section class="mt-28">
    <div class="w-full grid grid-cols-6 gap-4 bg-zinc-900">
        <img src="{% static 'images/logo01.png' %}" alt="..." class="p-16">
        <img src="{% static 'images/logo02.png' %}" alt="..." class="p-16">
        <img src="{% static 'images/logo03.png' %}" alt="..." class="p-16">
        <img src="{% static 'images/logo04.png' %}" alt="..." class="p-16">
        <img src="{% static 'images/logo05.png' %}" alt="..." class="p-16">
        <img src="{% static 'images/logo06.png' %}" alt="..." class="p-16">
    </div>
</section>
<!-- SECTION......................Logos Section End......................... -->

<!-- SECTION......................Blogs Slider Start........................ -->
<section class="blogs font-poppins">
    <div class="grid grid-cols-3 m-12">
        <div class="bg-zinc-900 m-2 rounded-lg shadow-2xl shadow-black">
            <img class="rounded-lg" src="{% static 'images/602223.jpg' %}" alt="...">
            <div class="p-4">
                <h3 class="text-white text-2xl font-bold">Title</h3>
                <p class="text-white text-sm mt-2">
                    lorem ipsum dolor sit amet amet sit dolor......
                </p>
                <p class="font-bold text-lg text-yellow-500"><a href="#">Read More</a></p>
            </div>
        </div>
        <div class="bg-zinc-900 m-2 rounded-lg shadow-2xl shadow-black">
            <img class="rounded-lg" src="{% static 'images/595712.jpg' %}" alt="...">
            <div class="p-4">
                <h3 class="text-white text-2xl font-bold">Title</h3>
                <p class="text-white text-sm mt-2">
                    lorem ipsum dolor sit amet amet sit dolor......
                </p>
                <p class="font-bold text-lg text-yellow-500"><a href="#">Read More</a></p>
            </div>
        </div>
        <div class="bg-zinc-900 m-2 rounded-lg shadow-2xl shadow-black">
            <img class="rounded-lg" src="{% static 'images/903591.png' %}" alt="...">
            <div class="p-4">
                <h3 class="text-white text-2xl font-bold">Title</h3>
                <p class="text-white text-sm mt-2">
                    lorem ipsum dolor sit amet amet sit dolor......
                </p>
                <p class="font-bold text-lg text-yellow-500"><a href="#">Read More</a></p>
            </div>
        </div>
    </div>
</section>
<!-- SECTION......................Blogs Slider End.......................... -->

{% comment %} <!-- SECTION - ............Middle End........ --> {% endcomment %}

{% endblock content %}